<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

<header th:replace="layout/layout :: header"></header>


<div class="container">

  <br>

  <h1 th:text="${title}"
      class="text-secondary border border success border-top-0 border-left-0 border-right-0"></h1>

  <form th:action="@{/product/form}" th:object="${product}" method="post">



    <div class="form-group row">

      <label class="col-sm-2 col-form-label">Nombre del producto</label>
      <div class=col-sm-6>
        <input type="text" th:field="*{name}" class="form-control"
               th:errorclass="'form-control alert-danger'"/>
      </div>
    </div>

      <div class="form-group row">
      <label class="col-sm-2 col-form-label">Codigo</label>
      <div class=col-sm-6>
        <input type="number" th:field="*{code}" class="form-control"/>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Precio de compra</label>
      <div class=col-sm-6>
        <input type="number" step="0.01" th:field="*{initialPrice}" class="form-control"/>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Precio de venta</label>
      <div class=col-sm-6>
        <input type="number" step="0.01" th:field="*{sellingPrice}" class="form-control"/>
      </div>
    </div>

    <input type="submit" value="Añadir producto" class="btn btn-success"/>

</form>
</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>