<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head th:replace="layout/layout :: head"></head>
<body>


<header th:replace="layout/layout :: header"></header>

<div class="container">

  <script th:src="@{/js/activarBoton.js}"></script>

  <br>
  <form th:action="@{/productByStore/} + ${id}" th:object="${product}" method="post">

    <div class="form-group row">


      <label class="col-sm-2 col-form-label">Nombre del producto</label>
      <div class=col-sm-6>
        <select id="id" name="id" class="form-control" onchange="activarBoton()" type="check">
          <option value="0"> Seleccione una opcion </option>
          <option th:each="product:${products}" th:value="${product.id}" th:text="${product.name}" th:selected="false"></option>
        </select>
      </div>
    </div>

    <input type="submit" value="Añadir al local" name="enviar" id="enviar" class="btn btn-success" disabled>

  </form>
  <br>
  <h1 class="text-secondary border border success border-top-0 border-left-0 border-right-0"
      th:text="${title}"></h1>
  <table class="table table-striped">
    <thead>
    <th>Nombre del producto</th>
    <th>Precio de compra</th>
    <th>Precio de venta</th>
    <th>Stock</th>
    </thead>
    <tbody>
    <tr th:each="prod:${productsByStore}">

      <td th:text="${prod.product.name}"></td>
      <td th:text="${prod.product.initialPrice}"></td>
      <td th:text="${prod.product.sellingPrice}"></td>
      <td th:text="${prod.stock}"></td>
      <td><a class="btn btn-success btn-xs" th:href="@{/productByStore/modifyAddStock/} + ${prod.id}"
             th:text="'Agregar stock'"></a></td>
      <td><a class="btn btn-danger btn-xs" th:href="@{/productByStore/modifyRemoveStock/} + ${prod.id}"
             th:text="'Eliminar stock'"></a></td>
    </tr>
    </tbody>
  </table>

</div>

<div class="alert alert-danger" role="alert" th:if="${error}" th:text="${error}">
</div>

<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>