<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

<header th:replace="layout/layout :: header"></header>


<div class="container">

    <br>
    <form th:action="@{/productByStore/remove/}+ ${productByStore.store.id} + @{/}+ ${productByStore.product.id}" th:object="${requestModifyStock}" method="post">



        <div class="form-group row">


            <label class="col-sm-2 col-form-label">Cantidad a remover</label>
            <div class=col-sm-6>
                <input type="number" th:field="*{stockModified}" class="form-control"
                       th:errorclass="'form-control alert-danger'"/>
            </div>
        </div>

        Motivo de la eliminacion de stock
        <input type="text" class="form-control" min="0"/>
        
        <br>

        <input type="submit" value="Eliminar" class="btn btn-danger"/>

    </form>

</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>