<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

<header th:replace="layout/layout :: header"></header>


<div class="container">

    <br>
    <form th:action="@{/productByStore/add/}+ ${productByStore.store.id} + @{/}+ ${productByStore.product.id}" th:object="${requestModifyStock}" method="post">



        <div class="form-group row">

            <label class="col-sm-2 col-form-label">Cantidad a agregar</label>
            <div class=col-sm-6>
                <input type="number" th:field="*{stockModified}" class="form-control"
                       th:errorclass="'form-control alert-danger'"/>
            </div>
        </div>

        <div class="form-group row">


            <label class="col-sm-2 col-form-label">Motivo de agregar stock</label>
            <div class=col-sm-6>
                <input type="text" th:field="*{reason}" class="form-control"
                       th:errorclass="'form-control alert-danger'"/>
            </div>
        </div>

        <br>

        <input type="submit" value="Agregar" class="btn btn-success"/>

    </form>

</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>