<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

<header th:replace="layout/layout :: header"></header>


<div class="container">

  <br>

  <h1 th:text="${title}"
      class="text-secondary border border success border-top-0 border-left-0 border-right-0"></h1>

  <form th:action="@{/store/form}" th:object="${store}" method="post">


    <div class="form-group row">

      <label class="col-sm-2 col-form-label">Nombre del local</label>
      <div class=col-sm-6>
        <input type="text" th:field="*{name}" class="form-control"
               th:errorclass="'form-control alert-danger'"/>
        <small class="form-text text-danger" th:if="${#fields.hasErrors('name')}"
               th:errors="*{name}"></small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Dirección</label>
      <div class=col-sm-6>
        <input type="text" th:field="*{address}" class="form-control"/>
        <small class="form-text text-danger" th:if="${#fields.hasErrors('address')}"
               th:errors="*{address}"></small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Ciudad</label>
      <div class=col-sm-6>
        <input th:type="text" th:field="*{city}" class="form-control"/>
        <small class="form-text text-danger" th:if="${#fields.hasErrors('city')}"
               th:errors="*{city}"></small>
      </div>
    </div>
    <div class="form-group">


      <input type="hidden" th:field="*{id}"/>


      <input type="submit" value="Crear local" class="btn btn-success"/>
    </div>

  </form>
</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>